<% selected_newsletters = subscriber.subscriptions.select(&:approved?).map(&:newsletter)  %>

<li class='subscriber clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(subscriber) -%>">
  <span class='title'>
    <%= subscriber.email %>
		<%= render :partial => 'preview', :locals => {:subscriber => subscriber, :selected => selected_newsletters} %>
  </span>
  <span class='actions'>
  	<%= link_to refinery_icon_tag("application_edit.png"), '#', :title => t('.edit'), :class => 'edit' %>
    <%= link_to refinery_icon_tag("delete.png"), admin_mailing_subscriber_path(subscriber),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => subscriber.email),
        :method => :delete %>
  </span>
	<%= render :partial => 'inline_form', :locals => {:subscriber => subscriber, :selected => selected_newsletters} %>
</li>
