<%= form_for [:admin, @mailing_newsletter] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @mailing_newsletter,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <li class='ui-state-default ui-state-active'>
          <%= link_to MailingNewsletter.human_attribute_name(:description), "#description" %>
        </li>
      </ul>

      <div id='page_part_editors'>
        <div class='page_part' id='description'>
          <%= f.text_area :description, :rows => 20, :class => 'wymeditor widest' -%>
        </div>
      </div>
    </div>
  
  <div class='field'>
    <%= f.label :public -%>
    <%= f.check_box :public -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.newsletters.newsletter'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @mailing_newsletter.name)
              } %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
