<%= form_for [:admin, @mailing] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @mailing,
          :include_object_name => true
        } %>
  
	<div class="field">
    <%= f.label :from %>
    <%= f.collection_select :from, Refinery::Mailings.from_addresses, :to_s, :to_s, {}, :disabled => @mailing.sent? %>
  </div>
	
	<div class="field newsletters clearfix">
		<%= label_tag t('.to_newsletters') %>
		
		<ul>
			<% @newsletters.each do |letter| %>
			  <li>
			  	<% key = "mailing[newsletters_attributes][#{letter.id}]" %>
				  <%= check_box key, 'checked', {:checked => @mailing.newsletters.include?(letter), :disabled => @mailing.sent?} %>
          <%= label key, 'checked', letter.name %>
			  </li>
			<% end %>
      <% if @newsletters.empty? %>
        <strong><%= t('.no_newsletters') %></strong>
      <% end %>
		</ul>
	</div>
	
  <div class='field'>
    <%= f.label :subject -%>
    <%= f.text_field :subject, :class => 'larger widest', :disabled => @mailing.sent? -%>
  </div>
	
	<div class='field'>
    <%= f.label :template -%>
    <%= f.select :template, mailing_templates.map {|t| [t, t]}, {}, :disabled => @mailing.sent? -%>
  </div>
  
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:body, :html_body].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to Mailing.human_attribute_name(part), "##{part}" %>
          </li>
        <% end %>
      </ul>

      <div id='page_part_editors'>
      	<div class='page_part' id='body'>
          <%= f.text_area :body, :rows => 20, :class => 'widest', :disabled => @mailing.sent? -%>
        </div>
				<div class='page_part' id='html_body'>
          <%= f.text_area :html_body, :rows => 20, :class => 'wymeditor widest', :disabled => @mailing.sent? -%>
        </div>
      </div>
    </div>
	</div>
  
	<div class="form-actions">
		<div class="form-actions-left">
	    <% unless @mailing.sent? %>
				<%= submit_tag t('.save'), :class => "wymupdate button" %>
				<%= submit_tag t('.save_and_continue'), :name => 'continue', :class => "wymupdate button" %>
				<%= submit_tag t('.send'), :name => 'send', :class => "wymupdate button" %>
		  <% else %>
			  <%= link_to t('.list_mailings'), admin_mailings_path, :class => 'button' %>
			<% end %>
	  </div>

		<div class="form-actions-right">
			<% unless @mailing.sent? %>
				<%= select_tag "test_email", options_from_collection_for_select(Refinery::Mailings.test_addresses, :to_s, :to_s)%>
				<%= submit_tag t('.test'), :name => 'test', :class => "wymupdate button" %>
			<% end %>
		</div>
	</div>
	
<% end -%>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
