<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(mailing) -%>">
  <span class='title'>
    <%= mailing.subject %>
    <span class="preview">
      <% if mailing.sent? -%>
        <%= t('.sent_at', :time => l(mailing.sent_at, :format => :short)) -%>
      <% end -%>
      <% if mailing.finished? -%>
        , <%= t('.finished_at', :time => l(mailing.sent_at, :format => :short)) -%>
      <% end -%>
    </span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_mailing_path(mailing),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_mailing_path(mailing),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => mailing.subject),
        :method => :delete %>
  </span>
</li>
